
<ion-view >
  <ion-content class="padding">
	 <table id="table-1">
		 <thead>
			 <tr>
				 <th> -- ID --</th>
				 <th> -- MIME TYPE-- </th>
				 <th> -- CONTENT --</th>
			 </tr>
		 </thead>
		 <tbody>
		     <tr> 
	     		<td>{{media.id}}</td>
	     		<td>{{media.mimeType}}</td>
	     		<!-- parse mime type and display proper media UI element -->
	     		<td><span ng-if="'text/plain' == media.mimeType">{{media.content}}</span></td>     		
	     	</tr>
		 </tbody>
	 </table>
  </ion-content>
</ion-view>
