<ion-view view-title="Sign-Up">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="user.firstName">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="user.lastName">
      </label>
      <label class="item item-input">
        <span class="input-label">Email Address</span>
        <input type="text" ng-model="user.email">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signUp(user)">
        Sign-Up
      </button>
    </div>
  </ion-content>
</ion-view>