<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ion-view view-title="Dashboard">
  <ion-content >
	  <ion-header-bar align-title="center" class="bar-stable">
		  <div class="buttons">
			  <button ng-click="startScanning()" class="button">Search</button>
		  </div>
		  <h1 class="title">Title</h1>
		  <div class="buttons">
			  <button id="bleStatus" class="button icon ion-bluetooth "></button>
		  </div>
		  <div class="buttons">
			  <button ng-click="getOrganization()" id="OrgService" class="button ">Get Organization</button>
			  
		  </div>
	  </ion-header-bar>
      <ion-label class="item item-input">
		 <span class="input-label" >Input:</span>
		 <input type="text" value="" ng-model="myText">
	 </ion-label>
	 <table id="table-1">
		 <thead>
			 <tr>
				 <th> -- Name-- </th>
				 <th> -- ID --</th>
				 <th> -- RSSI --</th>
			 </tr>
		 </thead>
		 <tbody>
		 <tr ng-repeat="device in devices"> 
		 	
				 <td><a ng-click="getResult({{device}})">{{device.name}}</a></td>
	     		<td>{{device.id}}</td>
	     		<td>{{device.rssi}}</td>
	     	</tr>
     		
			
		 </tbody>
		 
	 </table>
	  <table id="table-2">
		 <thead>
			 <tr>
				 <th> -- Name-- </th>
			 </tr>
		 </thead>
		 <tbody>
		 <tr ng-repeat="org in list"> 

	     		<td>{{org.name}}</td>
	     	</tr>
     		
			
		 </tbody>
		 
	 </table>
     
	  
	    
	 
            
     
  </ion-content>
</ion-view>

</body>
</html>