<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ion-view view-title="Dashboard">
  <ion-content>
	  <ion-header-bar align-title="center" class="bar-stable">
		  <div class="buttons">
			  <button ng-click="startScanning()" class="button">Search</button>
		  </div>
		  <h1 class="title">Available Exhibits</h1>
		  <div class="buttons">
			  <button id="bleStatus" class="button icon ion-bluetooth"></button>
		  </div>
	  </ion-header-bar>
	  <div style="padding-top:40px;width:100%">
		  <table style="width:100%">
			 <thead>
				 <tr>
					 <th>Facility</th>
					 <th>Location</th>
					 <th>Exhibit</th>
					 <th>Media Type</th>
				 </tr>
			 </thead>
			 <tbody>
				<tr ng-repeat="tag in exibitTags"> 
					<td><a ng-click="getMedia({{tag}})">{{tag.organizationName}}</a></td>
					<td><a ng-click="getMedia({{tag}})">{{tag.locationName}}</a></td>
		     		<td><a ng-click="getMedia({{tag}})">{{tag.exhibitTagName}}</a></td>
		     		<td>
		     			<a ng-click="getMedia({{tag}})">
		     				<i ng-if="exhibitService.isText(tag.exhibitTagMimeType)" class="icon ion-document"></i>
		     				<i ng-if="exhibitService.isAudio(tag.exhibitTagMimeType)" class="icon ion-headphone"></i>
		     				<i ng-if="exhibitService.isVideo(tag.exhibitTagMimeType)" class="icon ion-videocamera"></i>
			     		</a>
		     		</td>
		     	</tr>
			 </tbody>
		  </table>
	  </div>
  </ion-content>
</ion-view>

</body>
</html>