/* Empty. Add your own CSS if you like */
.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}

.bar-footer {
    height: 42px;
    padding: 0;
    margin: 0;
}